# ANOVA TEST

In [18]:
import seaborn as sns
df= sns.load_dataset('iris')

In [13]:
import pandas as pd

In [19]:
df.head()

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

In [20]:
grouped_data= df.groupby('species')['petal_width'].apply(list)

In [24]:
setosa_petal_width= grouped_data['setosa']
versicolor_petal_width= grouped_data['versicolor']
virginica_petal_width= grouped_data['virginica']

In [23]:
from scipy import stats

In [25]:
f_stat, p_val= stats.f_oneway(setosa_petal_width, versicolor_petal_width, virginica_petal_width)

In [28]:
print(f'{f_stat}, {p_val}')

960.007146801809, 4.1694458394430593e-85

In [31]:
if p_val<0.05:
    print("reject null hypothesis; there is no significant relationshiop")
else:
    print("accept null hypothesis; there is significant relationshiop")

reject null hypothesis; there is no significant relationshiop